.background {
  background-image: url('https://img.freepik.com/free-photo/green-painted-smooth-textured-background_53876-108262.jpg?w=1060&t=st=1685901642~exp=1685902242~hmac=91f6df49c7d3029d74b360030515169081a8d6ff183fae4a0124c93554822c4c');

  background-size: 2000px;
}

.iframe_adjust {
  transform: translateX(35%);
}
.mentor_background {
  background-image: url('https://images.unsplash.com/photo-1629197520635-16570fbd0bb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1148&q=80');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 270px;
  height: 450px;
  margin-bottom: 30px;
  margin-left: 190px;

  align-items: center;
}

.card-image {
  width: 300px;
  height: 300px;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 50%;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 130%;
  height: 100%;
  border-radius: 0.2rem;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
.card {
  margin: 10px 10px;
  margin-bottom: 20px;
}

.titles {
  text-align: center;
  color: aliceblue;
}

.accent-left {
  color: whitesmoke;
}
.title_form {
  background: #008037;
}
.card {
  margin-bottom: 30px;
}

.movement {
  display: flex;
  font-size: 28px;
  flex-direction: column;
  transform: translateX(65%);
  color: aliceblue;
}

.article_design {
  background-color: aqua;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  width: 50%;
}

.section {
  display: flex;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 10px 10px;
}

input[type='checkbox'] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 600px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: 'frontAndBack';
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
}

input[type='checkbox']:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}
