.spacer {
  aspect-ratio: 960/320;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.EventHolder {
  width: 100%;
  background-image: radial-gradient(
    circle farthest-side at 0 0,
    white 0%,
    #008037 100%
  );
  
}

.UofTLogo {
  height: 3em;
  width: 3em;
}

.EventHolderTitle {
  color: white;
}

.CardHolder {
  padding-top: 20px;
}

.BottomCardHolder {
  padding-bottom: 3rem;
}

.AllCardsHolder {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2%;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .AllCardsHolder {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.AllCardsHolderOneCard {
  display: grid;
  grid-template-columns: auto;
  column-gap: 2%;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;
}

.AllCardsHolderTwoCards {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2%;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .AllCardsHolder, .AllCardsHolderTwoCards {
    display: grid;
    grid-template-columns: auto;
    column-gap: 2%;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.HeroImg {
  width: 100%;
  overflow: hidden;
}

.Landscape {
  width: 100%;
  overflow: hidden;
}
