.background{
    background-image:url("https://img.freepik.com/free-photo/dark-green-wall-backdrop-grunge-background-texture_1258-108737.jpg?w=1380&t=st=1672867761~exp=1672868361~hmac=a9e2790a4a4e67238333ca765873bb730fc217ce7bf3f880a4c4c1fc78672bfa");
    
    background-size: 1500px;

}

.titles{
    text-align: center;
    color: aliceblue;
}

.article_design{
    background-color: aqua;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

.section{
    display:flex;
    align-items:center;
    justify-content: center;
}