.customCardClass {
  min-width: 150px;
  border-radius: 25px;
  margin: 0 auto;
  width: 24rem;
}

.customCardClass:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.iconHolder {
  padding-right: 0.3em;
}

.customCardHeader {
  display: flex;
  justify-content: space-between;
}

.customIcon:hover {
  filter: drop-shadow(0 4px 8px rgb(0, 0, 0, 0.2));
}

.EventCardButton {
  border-radius: 15px;
  font-size: 1em;
}

.event-card {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden; /* This keeps the pseudo element within the parent's boundaries */
}

.event-card::before {
  content: '';
  position: absolute;
  top: -50%; /* This positions the shine off-canvas initially */
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(
    30deg
  ); /* This rotates the shine to give it a bit of an angle */
  pointer-events: none; /* This makes sure clicks go 'through' the shine to the element underneath */
}
