.icons a {
  font-size: 2rem;
  color: white;
}

.icons a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.custom-link {
  color: inherit; /* This will make the link color the same as the surrounding text */
  text-decoration: none; /* This will remove the underline */
  transition: opacity 0.3s; /* This will make the opacity change smoothly */
}

.custom-link:hover {
  opacity: 0.7; /* Adjust the opacity value to your preference */
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer2 {
  background-image: url('../assets/layeredwaves2.svg');
}
