.background{
    background-image:url("https://images.unsplash.com/photo-1629197520635-16570fbd0bb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1148&q=80");
    
}

.iframe_adjust{
    transform:translateX(35%);


}
.mentor_background{
    background-image:url("https://images.unsplash.com/photo-1629197520635-16570fbd0bb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1148&q=80");
    
 

}

.form {
    box-shadow: 10px 5px 5px green;;
}
.titles{
    text-align: center;
    color: aliceblue;
}

.card{
    margin-bottom: 30px;
}

.movement{
    display: flex;
    font-size:28px;
    flex-direction: column;
    transform:translateX(65%);
    color: aliceblue;
    

    
}

.article_design{
    background-color: aqua;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    width: 50%;
    color:aliceblue
    
  }

.section{
    display:flex;
    align-items:center;
    justify-content: center;
}

.icon{
    color:blue
}
