.NavLogo {
  height: 5em;
  transition: 0.5s ease;
}

.NavLogoSmall {
  height: 3.5em;
  transition: 0.5s ease;
}

.logoWords {
  height: 5em;
  transform: translateX(10%);
  opacity: 1;
  transition: 0.5s all ease;
}

.logoWordsDisabled {
  height: 5em;
  opacity: 0;
  transform: translateX(-10%);
  transition: 0.5s all ease;
}
