#Navbar {
    display:flex;
    width: 50%;
    justify-content: space-between;
}

.navLink {
    color: inherit;
    text-decoration: inherit;
}

.navLink:hover {
    color: rgb(118, 118, 118);
}

.logo {
    width: 80%;
    height: 5%;
}

#navBrand {
    padding-right: 5%;
}